
-------------------------------------------------------------- */
/* buttons */
/* General: The Basics
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  font-size: 14px; 
 }

body {
  font-size: 100%;
  color: #36322d;
  line-height: 1.7;
  position: relative;
  padding: 0;
  margin: 10px; 
}

a {
  text-decoration: none;
  color: #257b9a;
  font-weight: bold; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
 }
#lenderSelect{
	float: left;
	margin-right: 30px;
}
.sort {
	
}